---
layout: layouts/base.njk
title: "tags - lucid vagary"
permalink: /tags/
---
<section class="posts-section">
  <h1 class="posts-title">tags</h1>
  <nav class="tag-list" aria-label="Browse tags">
    {% for tag in collections.tagList %}
    <a href="/tags/{{ tag | slugify }}/" class="post-tag" rel="tag" aria-label="Browse posts tagged {{ tag }}">{{ tag }}</a>
    {% endfor %}
  </nav>
</section>
